---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.alm.homelab
  resources:
  - certificaterequests
  - ingressrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.alm.homelab
  resources:
  - certificaterequests/finalizers
  - ingressrequests/finalizers
  verbs:
  - update
- apiGroups:
  - networking.alm.homelab
  resources:
  - certificaterequests/status
  - ingressrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - traefik.io
  resources:
  - ingressroutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - traefik.io
  resources:
  - middlewares
  verbs:
  - get
  - list
  - watch
