image: ghcr.io/floryn08/homelab-alm:v1.5.2
namespace: default
service:
  type: ClusterIP
ports:
- name: metrics
  containerPort: 8080
  externalPort: 8080
  protocol: TCP
- name: probes
  containerPort: 8081
  externalPort: 8081
  protocol: TCP